.auth-container {
  background-image: url(../../../assets/images/pages/bg-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.auth-form-section {
  background-color: inherit;
}
.auth-wrapper {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
