<section class="content claimsdetails">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Claims Details'"
        [items]="[]"
        [active_item]="'Dashboard'"
      ></app-breadcrumb>
    </div>
    <!-- Widgets -->

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="body">
            <div class="row align-items-center">
              <div class="col">
                <h4 class="usernameclss">Mary B. Dough</h4>
              </div>
              <div class="col align-right">
                <p class="complete-status infoclss">Submitted</p>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-12">
                <p class="infoclss">837 Claims</p>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-12">
                <p class="infoclss">Claim ID: 105011005501</p>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-6">
                <p class="infoclss">Date of Service: 3/20/21</p>
              </div>
              <div class="col-6">
                <p class="infoclss align-right">
                  <span class="greenclss">$ 2,100.00</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="body">
            <ul class="list-group">
              <li
                class="list-group-item d-flex border-0 justify-content-between align-items-center"
              >
                Provider Adjustment <span>$34.60</span>
              </li>
              <li
                class="list-group-item d-flex border-0 justify-content-between align-items-center"
              >
                Patient Responsibility
                <span>$142.54</span>
              </li>
              <li
                class="list-group-item d-flex border justify-content-between align-items-center"
              >
                Total Adustment <span> $177.14</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="body">
            <div class="row align-items-center">
              <div class="col">
                <h4 class="usernameclss">Mary B. Dough</h4>
              </div>
              <div class="col align-right">
                <p class="complete-status infoclss">Paid</p>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-12">
                <p class="infoclss">835 ERA</p>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-12">
                <p class="infoclss">Claim ID: 105011005501</p>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-6">
                <p class="infoclss">Date of Service: 3/20/21</p>
              </div>
              <div class="col-6">
                <p class="infoclss align-right">
                  <span class="greenclss">$1922.86</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Service Line</h2>
          </div>
          <div class="body table-responsive">
            <div class="service-name">
              <h5>Service Line 1</h5>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>837 Data</th>
                  <th>SV101</th>
                  <th>SV102</th>
                  <th>Date</th>
                  <th>Billing Provider</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td>HC 59430</td>
                  <td>$1,210.00</td>
                  <td>03/20/2021</td>
                  <td>Hartford Hospital</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th>835 DATA</th>
                  <th>SVC01</th>
                  <th>SVC02</th>
                  <th>SVC03</th>
                  <th>CAS1</th>
                  <th>CAS2</th>
                  <th>CAS3</th>
                  <th>RARC</th>
                  <th>DTM02</th>
                  <th>Billing Provider</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td>HC 59430</td>
                  <td>$1,210.00</td>
                  <td>$1,057.86</td>
                  <td>
                    CO
                    <i
                      class="fa fa-info-circle text-primary fa-sm"
                      matTooltip="Contractual Obligation"
                      [matTooltipPosition]="position"
                      aria-hidden="true"
                    ></i>
                  </td>
                  <td>45</td>
                  <td>$34.60</td>
                  <td></td>
                  <td>03/20/2021</td>
                  <td>Hartford Hospital</td>
                </tr>
              </tbody>
            </table>
            <div class="service-name">
              <h5>Service Line 2</h5>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>837 Data</th>
                  <th>SV101</th>
                  <th>SV102</th>
                  <th>Date</th>
                  <th>Billing Provider</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td>HC 59430</td>
                  <td>$1,210.00</td>
                  <td>03/20/2021</td>
                  <td>Hartford Hospital</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th>835 DATA</th>
                  <th>SVC01</th>
                  <th>SVC02</th>
                  <th>SVC03</th>
                  <th>CAS1</th>
                  <th>CAS2</th>
                  <th>CAS3</th>
                  <th>RARC</th>
                  <th>DTM02</th>
                  <th>Billing Provider</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td>HC 59430</td>
                  <td>$1,210.00</td>
                  <td>$1,057.86</td>
                  <td>
                    CO
                    <i
                      class="fa fa-info-circle text-primary fa-sm"
                      matTooltip="Contractual Obligation"
                      [matTooltipPosition]="position"
                      aria-hidden="true"
                    ></i>
                  </td>
                  <td>45</td>
                  <td>$34.60</td>
                  <td></td>
                  <td>03/20/2021</td>
                  <td>Hartford Hospital</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="footer">
            <div class="example-button-row align-right">
              <button mat-raised-button>Approve</button>
              <button mat-raised-button color="primary">Tag For Review</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
