<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Status Workbasket'"
        [items]="[]"
        [active_item]="'Dashboard'"
      ></app-breadcrumb>
    </div>
    <!-- Widgets -->
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card">
          <div class="header">
            <h2>Sort Claims</h2>
          </div>
          <div class="body">
            <form
              class="register-form"
              [formGroup]="sortClaims"
              (ngSubmit)="onRegister()"
            >
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Date Range</mat-label>
                    <mat-date-range-input
                      [formGroup]="campaignOne"
                      [rangePicker]="campaignOnePicker"
                      [comparisonStart]="campaignOne.value.start"
                      [comparisonEnd]="campaignOne.value.end"
                    >
                      <input
                        matStartDate
                        placeholder="Start date"
                        formControlName="startData"
                        required
                      />
                      <input
                        matEndDate
                        placeholder="End date"
                        formControlName="endDate"
                        required
                      />
                    </mat-date-range-input>

                    <mat-datepicker-toggle
                      matSuffix
                      [for]="campaignOnePicker"
                    ></mat-datepicker-toggle>
                    <mat-date-range-picker
                      #campaignOnePicker
                    ></mat-date-range-picker>
                    <mat-error
                      *ngIf="
                        sortClaims.get('startDate').hasError('required') ||
                        sortClaims.get('endDate').hasError('required') ||
                        sortClaims.get('startDate').touched
                      "
                    >
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Patient Name</mat-label>
                    <input matInput formControlName="patientName" required />
                    <mat-error
                      *ngIf="
                        sortClaims.get('patientName').hasError('required') ||
                        sortClaims.get('patientName').touched
                      "
                    >
                      Please enter a valid patient name
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Claim Id</mat-label>
                    <input matInput formControlName="claimId" required />
                    <mat-error
                      *ngIf="
                        sortClaims.get('claimId').hasError('required') ||
                        sortClaims.get('claimId').touched
                      "
                    >
                      Please enter a claim id
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline">
                    <mat-label>Select Status</mat-label>
                    <select matNativeControl required>
                      <option value="Select Status">Select Status</option>
                      <option value="Pending">Pending</option>
                      <option value="Finalized">Finalized</option>
                      <option value="Requested for Additional Info">
                        Requested for Additional Info
                      </option>
                      <option value="Rejected">Rejected</option>
                      <option value="Denied">Denied</option>
                      <option value="On Hold">On Hold</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" mat-raised-button color="primary">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <a [routerLink]="'/admin/dashboard/statusworkbasketdetails'">
            <div class="body">
              <div class="row align-items-center">
                <div class="col">
                  <h4 class="usernameclss">Susane C. Jones</h4>
                </div>
                <div class="col align-right">
                  <p class="complete-status infoclss" style="color: red">
                    Overpaid
                  </p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="infoclss">Claim ID: 1032043057</p>
                </div>
                <div class="col">
                  <p class="infoclss">Provider: Deborah Callahan</p>
                </div>
                <div class="col">
                  <p class="infoclss">Date of Service: 3/08/21</p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="infoclss">Payer: Wellcare</p>
                </div>
                <div class="col">
                  <p class="infoclss">Subscriber: Connon M. Frater</p>
                </div>
                <div class="col">
                  <p class="infoclss">
                    Total charge: <span class="greenclss">$245.00</span>
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card">
          <a [routerLink]="'/admin/dashboard/statusworkbasketdetails'">
            <div class="body">
              <div class="row align-items-center">
                <div class="col">
                  <h4 class="usernameclss">Susane C. Jones</h4>
                </div>
                <div class="col align-right">
                  <p class="complete-status infoclss" style="color: red">
                    Overpaid
                  </p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="infoclss">Claim ID: 1032043057</p>
                </div>
                <div class="col">
                  <p class="infoclss">Provider: Deborah Callahan</p>
                </div>
                <div class="col">
                  <p class="infoclss">Date of Service: 3/08/21</p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="infoclss">Payer: Wellcare</p>
                </div>
                <div class="col">
                  <p class="infoclss">Subscriber: Connon M. Frater</p>
                </div>
                <div class="col">
                  <p class="infoclss">
                    Total charge: <span class="greenclss">$245.00</span>
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card">
          <a [routerLink]="'/admin/dashboard/statusworkbasketdetails'">
            <div class="body">
              <div class="row align-items-center">
                <div class="col">
                  <h4 class="usernameclss">Gavin Potter</h4>
                </div>
                <div class="col align-right">
                  <p class="complete-status infoclss" style="color: red">
                    Overpaid
                  </p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="infoclss">Claim ID: 111012224616</p>
                </div>
                <div class="col">
                  <p class="infoclss">Provider: David Potter</p>
                </div>
                <div class="col">
                  <p class="infoclss">Date of Service: 3/11/21</p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="infoclss">Payer: Wellcare</p>
                </div>
                <div class="col">
                  <p class="infoclss">Subscriber: Connon M. Frater</p>
                </div>
                <div class="col">
                  <p class="infoclss">
                    Total charge: <span class="greenclss">$165.00</span>
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card">
          <a [routerLink]="'/admin/dashboard/statusworkbasketdetails'">
            <div class="body">
              <div class="row align-items-center">
                <div class="col">
                  <h4 class="usernameclss">Martha Doughty</h4>
                </div>
                <div class="col align-right">
                  <p class="complete-status infoclss" style="color: red">
                    Partially paid
                  </p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="infoclss">Claim ID: 2346436460</p>
                </div>
                <div class="col">
                  <p class="infoclss">Provider: Robert Bornstein</p>
                </div>
                <div class="col">
                  <p class="infoclss">Date of Service: 3/15/21</p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="infoclss">Payer: Wellcare</p>
                </div>
                <div class="col">
                  <p class="infoclss">Subscriber: Connon M. Frater</p>
                </div>
                <div class="col">
                  <p class="infoclss">
                    Total charge: <span class="greenclss">$322.00</span>
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card">
          <a [routerLink]="'/admin/dashboard/statusworkbasketdetails'">
            <div class="body">
              <div class="row align-items-center">
                <div class="col">
                  <h4 class="usernameclss">Meryl Kornfeild</h4>
                </div>
                <div class="col align-right">
                  <p class="complete-status infoclss" style="color: red">
                    Overpaid
                  </p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="infoclss">Claim ID: 1035143066</p>
                </div>
                <div class="col">
                  <p class="infoclss">Provider: Cleverland clinic</p>
                </div>
                <div class="col">
                  <p class="infoclss">Date of Service: 3/13/21</p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="infoclss">Payer: Wellcare</p>
                </div>
                <div class="col">
                  <p class="infoclss">Subscriber: Connon M. Frater</p>
                </div>
                <div class="col">
                  <p class="infoclss">
                    Total charge: <span class="greenclss">$255.00</span>
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card">
          <a [routerLink]="'/admin/dashboard/statusworkbasketdetails'">
            <div class="body">
              <div class="row align-items-center">
                <div class="col">
                  <h4 class="usernameclss">Ben Dover</h4>
                </div>
                <div class="col align-right">
                  <p class="complete-status infoclss" style="color: red">
                    Request For Additional info
                  </p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="infoclss">Claim ID: 105011005501</p>
                </div>
                <div class="col">
                  <p class="infoclss">Provider: Hartford Hospital</p>
                </div>
                <div class="col">
                  <p class="infoclss">Date of Service: 2/20/21</p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="infoclss">Payer: Aetna</p>
                </div>
                <div class="col">
                  <p class="infoclss">Subscriber: John Dough</p>
                </div>
                <div class="col">
                  <p class="infoclss">
                    Total charge: <span class="greenclss">$3,100.00</span>
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card">
          <a [routerLink]="'/admin/dashboard/statusworkbasketdetails'">
            <div class="body">
              <div class="row align-items-center">
                <div class="col">
                  <h4 class="usernameclss">Eileen Dover</h4>
                </div>
                <div class="col align-right">
                  <p class="complete-status infoclss" style="color: red">
                    Rejected
                  </p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="infoclss">Claim ID: 105012233315</p>
                </div>
                <div class="col">
                  <p class="infoclss">Provider: Atrium health mercy</p>
                </div>
                <div class="col">
                  <p class="infoclss">Date of Service: 3/24/21</p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="infoclss">Payer: BCBS NC</p>
                </div>
                <div class="col">
                  <p class="infoclss">Subscriber: Simon Johnson</p>
                </div>
                <div class="col">
                  <p class="infoclss">
                    Total charge: <span class="greenclss">$388.68</span>
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card">
          <a [routerLink]="'/admin/dashboard/statusworkbasketdetails'">
            <div class="body">
              <div class="row align-items-center">
                <div class="col">
                  <h4 class="usernameclss">Reeve Ewer</h4>
                </div>
                <div class="col align-right">
                  <p class="complete-status infoclss" style="color: red">
                    Rejected
                  </p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="infoclss">Claim ID: 111012224616</p>
                </div>
                <div class="col">
                  <p class="infoclss">Provider: UPMC Passavant</p>
                </div>
                <div class="col">
                  <p class="infoclss">Date of Service: 3/11/21</p>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <p class="infoclss">Payer: Highmark BCBS</p>
                </div>
                <div class="col">
                  <p class="infoclss">Subscriber: John B. Dixon</p>
                </div>
                <div class="col">
                  <p class="infoclss">
                    Total charge:
                    <span class="greenclss">$584.92</span>
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
